### https://raw.github.com/github/gitignore/55df35ee63aef4a6f859559af980c9fb87bee1a1/C++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# misc
compile_commands.json
build*/
install*/
.cache/
tags
